<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/board.css" />
<title>Detail</title>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/bootstrap.js"></script>
<script src="../js/common.js"></script>
<script>
	$(function () {
		var no = getParams(window.location.href).no;
		$.getJSON(
			contextRoot + "detailView.do",
			"no=" + no,
			function (result) {
				var vo = result.vo;
				console.dir(vo);
				var cList = result.cList;
				$("#title").text(vo.title);
				$("#writer").text(vo.writer);
				$("#regDate").text(vo.regDate);
				$("#content").text(vo.content);
				
				if(!cList.length) {
					$(".commentTable").append($("<tr>").append($("<td colspan='4'>").text("등록된 댓글이 없습니다.")));
				} else {
					for(var i in cList) {
						var comment = cList[i];
						
						var commentObj = $("<tr>").append($("<td>").text(comment.content))
								 				  .append($("<td>").text(comment.writer))
								 				  .append($("<td>").text(comment.regDate))
								 				  .append($("<td><a><button class='delBtn' onclick='delComment(" + comment.no + ")'>X</button></a></td>"));
						
						$(".commentTable").append(commentObj);
					}
				}
			}
		);
		
		$("form").submit(function () {
			console.dir($("form").serialize());
			$.getJSON(
				contextRoot + "registComment.do",
				$("form").serialize(),
				function (result) {
					var cVo = result.commentVO;
					
					var commentObj = $("<tr>").append($("<td>").text(cVo.content))
 				  							  .append($("<td>").text(cVo.writer))
	 				  						  .append($("<td>").text(cVo.regDate))
	 										  .append($("<td><a><button class='delBtn' onclick='delComment(" + cVo.no + ")'>X</button></a></td>"));

					$(".commentTable").prepend(commentObj);
					
					$("#cWriter").val("");
					$("#cContent").val("");
				}
			);
			return false;
		});
		
		$("#boardNo").val(no);
		
		$("#updateBtn").click(function () {
			location.href = contextRoot + "update.do?no=" + no;
		});
		
		$("#listBtn").click (function () {
			location.href = contextRoot + "index.do";	
		});

		$("#deleteBtn").click(function () {
			location.href = contextRoot + "delete.do?no=" + no;
		});
	});
</script>
</head>
<body>
	<div class="main">
		<table class="inputTable">
			<tr>
				<th>제목</th>
				<td id="title"></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td id="writer"></td>
			</tr>
			<tr>
				<th>등록일</th>
				<td id="regDate"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td id="content"></td>
			</tr>
		</table>
	</div>
	<div class="btnArea">
		<button type="button" class="greenBtn" id="updateBtn">Update</button>
		<button type="button" class="redBtn" id="deleteBtn">Delete</button>
		<button type="button" class="blueBtn" id="listBtn">List</button>
	</div>
	<div class="commentArea">
		<div class="commentInput">
			<form method="POST">
				<input type="hidden" id="boardNo" name="boardNo" />
				<label for="cWriter">이름 :</label>
				<input type="text" id="cWriter" name="writer"/>
				<label for="cContent">내용 :</label>
				<input type="text" id="cContent" name="content" />
				<button type="submit">Regist</button>
			</form>
		</div>
		<table class="commentTable">
			<thead>
				<tr>
					<th>내용</th>
					<th>작성자</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</body>
</html>