<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/board.css" />
<title>Main</title>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/less/less.js"></script>
<script src="../lib/bootstrap/bootstrap.js"></script>
<script src="../js/common.js"></script>
<script>
	$(function () {
		$.getJSON(
			contextRoot + "list.do",
			function (result) {
				if(!result.list.length) {
					$("table").append($("<tr>").append($("<th colspan='4'>").text("등록된 게시글이 없습니다.")));
				}
				for(var i in result.list) {
					var content = result.list[i];
					var trObj = $("<tr id='content_" + content.no + "'>").append($("<th>").text(content.no))
								                                         .append($("<td>").append($("<a href='" + contextRoot + "detail.do?no=" + content.no + "'>" + content.title + "</a>"))		 )
								                                         .append($("<td>").text(content.writer))
								                                         .append($("<td>").text(content.regDate));
					$("table").append(trObj);
				}
			}
		);
		
		$("button").click(function () {
			location.href = contextRoot + "regist.do";
		});
	});
</script>
</head>
<body>
	<div class="main">
		<table class="listTable">
			<thead>
				<tr>
					<th>No</th>
					<th>Title</th>
					<th>Writer</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				
			</tfoot>	
		</table>
	</div>
	<div class="btnArea">
		<button class="blueBtn">Regist</button>
	</div>
</body>
</html>